/* style.css */

* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: 'Truculenta', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
  }
  
  header {
    font-size: 5vmin;
    color: crimson;
    letter-spacing: .7vmin;
  }
  
  h1 {
    color: maroon;
    font-size: 4vmin;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: 1vmin;
    margin-top: 4vmin;
  }
  
  #board > div {
    
    border: 0.1vmin solid black;
  }
  
  button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2.5vmin;
    border-radius: 4vmin;
    border: 0.3vmin solid rgb(0, 0, 0);
    color: crimson;
    background-color: lightgray;
  }
  
  button:hover {
    color: white;
    background-color: rgb(106, 4, 4);
  }